@charset "UTF-8";
/* CSS Document */
img, embed, object, video 
{
max-width: 100%;
}

img 
{ 
-ms-interpolation-mode: bicubic; 
}


body {
  	
 	font: Helvetica, Arial, sans-serif;
 	margin: 0 auto;
 	font-size: 100%;
 	max-width: 1200px;
 	background-image: -webkit-radial-gradient(circle farthest-corner,  #B2DCE3 0%, #7AB6C3 100%);
 	background-image: radial-gradient(circle farthest-corner,  #B2DCE3 0%, #7AB6C3 100%);
}

.hidden {
	display:none;
}

@font-face {
  font-family: 'solid_antique';
  src: url("../fonts/solid_antique.woff") format("woff");
}

/*----------------------------------HERO------------------------------------------*/
.hero {
	/*background: url(../images/header.png)left no-repeat;*/
	height:445px; 
	width:100%;
	text-align: center;
	background: url(../images/snow.gif) center no-repeat;

}

.backSpring{
	height:445px; 
	width:100%;
	text-align: center;
	background: url(../images/spring.gif) center no-repeat;

}


#logo{
	width:71%;
	margin: 0 auto;
	/*padding: 96px 45px 40px 45px;*/
	padding-top: 40px;
	padding-bottom: 50px;
	/*background: url(../images/snow.gif)center no-repeat;*/
}

#calltoact {
	background-color: #7AB6C3;
	border-radius: 8px;
	font-family: 'Roboto', sans-serif;
	color:white;
	font-size:16px;
	padding: 10px 25px 10px 25px;
	letter-spacing: 1px;
	cursor: pointer;
}

#calltoact:hover{
	background-color: #FB5A5A;
}

.hero h1 {
	font-family: 'solid_antique';
	/*font-family: 'Roboto';*/
	font-size: 19px;
	line-height: 20px;
	letter-spacing: 0.5px;
	padding: 0 50px 50px 50px;

	color:white;
}



/*---------------------------------LINKS-------------------------------------*/

a {
	text-decoration: none;
	color: white;
}

a:visited{
	color:none;
}
/*---------------------------------MAIN-CONTENT-------------------------------------*/

#content {
	display:-webkit-box;
	display:-ms-flexbox;
	display:-webkit-flex;
	display:flex;
	-ms-flex-wrap:wrap;
	    -webkit-flex-wrap:wrap;
	        flex-wrap:wrap;
	margin-bottom: 50px;
	margin-top: 20px;
}
.button {
	-webkit-appearance: none;
	outline:0;
	/*background-color: #727F82;*/
	background-color: #7AB6C3;
	border-radius: 5px;
	border:none;
	font-family: 'Roboto', sans-serif;
	color:white;
	font-size:13px;
	padding: 10px 25px 10px 25px;
	letter-spacing: 1px;
	-ms-flex-preferred-size:100%;
	    -webkit-flex-basis:100%;
	        flex-basis:100%;
	margin: 5px 10px 5px 10px;
	padding: 10px;
	cursor: pointer;
}

.button:hover{
	background-color: #FB5A5A;
}

#music {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	    -ms-flex-direction: row-reverse;
	        -webkit-flex-direction: row-reverse;
	        flex-direction: row-reverse;
}

#musicControls {
	background: url(../images/playPause3.png) center no-repeat;
	border:none;
	width:80px;
	height: 100px;
	outline:0;
	margin-right:10px;
	-webkit-box-flex:1;
	-webkit-flex:1;
	    -ms-flex:1;
	        flex:1;	
	
}

#springBut {
	background: url(../images/spring3.png) center no-repeat;
	border:none;
	width:80px;
	height: 100px;
	outline:0;
	margin-right:10px;
	-webkit-box-flex:1;
	-webkit-flex:1;
	    -ms-flex:1;
	        flex:1;
	
	
}

#D3 {
	text-align: center;
}

#graph {
	margin-bottom: 50px;
}
/*---------------------------------FOOTER-CONTENT-------------------------------------*/

footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	background-color: #7AB6C3;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	    -ms-flex-direction:column;
	        -webkit-flex-direction:column;
	        flex-direction:column;
	-webkit-box-pack:center;
	    -ms-flex-pack:center;
	        -webkit-justify-content:center;
	        justify-content:center;
	text-align: center;

}

#logoFoot {
	margin: 0 auto;
	width:71%;
	padding-top: 60px;

}

#socials {
	display:-webkit-box;
	display:-ms-flexbox;
	display:-webkit-flex;
	display:flex;
	-webkit-box-pack:center;
	    -ms-flex-pack:center;
	        -webkit-justify-content:center;
	        justify-content:center;
	margin-top: 33px;
	-webkit-box-align:baseline;
	    -ms-flex-align:baseline;
	        -webkit-align-items:baseline;
	        align-items:baseline;
}

#socials li {
	padding: 0 20px 0 20px;
}


#copyR {
  line-height: 0px;
  color: white;
  text-decoration: none;
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: .33px;
  line-height: 40px;
  margin-bottom: 60px;
  margin-top: 40px;
}

/*---------------------------------D3-STYLE-------------------------------------*/

.textName { 
  position: absolute;
  /*margin-top:300px;  */                   
  width: 300px;                  
  height: 60px; 
  border-radius: 35%;    
  padding: 10px;                               
  border: 0px;  
  font-size: 25px;
  font-family:'Roboto', sans-serif;
  color: #666;
  text-align: center; 
  vertical-align: middle; 
  opacity: 0; 
 

}

.barStyle {
	fill: #5F9EA0;

}

.domain {
	stroke:#666;
}

.tick line{
	stroke:#666;
}


.tick {
	stroke:#666;
}

@media screen and (min-width: 31.25em){


#content button {
	-ms-flex-preferred-size:33%;
	    -webkit-flex-basis:%;
	        flex-basis:%;
	    margin-left: 13px;

}

#content {
	display:-webkit-box;
	display:-ms-flexbox;
	display:-webkit-flex;
	display:flex;
	-ms-flex-wrap: wrap;
	    -webkit-flex-wrap: wrap;
	        flex-wrap: wrap;
	margin-bottom: 100px;
	margin-top: 50px;
	margin-left: 40px;
	margin-right: 40px;
}

}

@media screen and (min-width: 48em){

#musicControls {
	-webkit-box-flex:0;
	-webkit-flex:none;
	    -ms-flex:none;
	        flex:none;
	
	
}

#springBut {
	-webkit-box-flex:0;
	-webkit-flex:none;
	    -ms-flex:none;
	        flex:none;
	
	
}

#logoFoot {
	margin: 0 auto;
	width:30%;
	padding-top: 60px;

}

#logo{
	width:60%;
	margin: 0 auto;
	/*padding: 96px 45px 40px 45px;*/
	padding-top: 40px;
	padding-bottom: 50px;
}

#content button {
	-ms-flex-preferred-size:33%;
	    -webkit-flex-basis:46%;
	        flex-basis:46%;
	    margin-left: 13px;

}

#content {
	display:-webkit-box;
	display:-ms-flexbox;
	display:-webkit-flex;
	display:flex;
	-ms-flex-wrap: wrap;
	    -webkit-flex-wrap: wrap;
	        flex-wrap: wrap;
	margin-bottom: 100px;
	margin-top: 50px;
	margin-left: 40px;
	margin-right: 40px;
}

}

@media screen and (min-width: 75em){

#musicControls {
	-webkit-box-flex:0;
	-webkit-flex:none;
	    -ms-flex:none;
	        flex:none;
	
	
}

#springBut {
	-webkit-box-flex:0;
	-webkit-flex:none;
	    -ms-flex:none;
	        flex:none;
	
	
}

#logoFoot {
	margin: 0 auto;
	width:20%;
	padding-top: 60px;

}

#content button {
	-ms-flex-preferred-size:33%;
	    -webkit-flex-basis:20%;
	        flex-basis:20%;
	    margin-left: 40px;

}

#content {
	margin-bottom: 150px;
	margin-top: 70px;

}

#graph {
	margin-bottom: 50px;
}
}